<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjpdp4irz_QkgRYtDWb-5LeQHZ_tzoiis</string>
	<key>GCM_SENDER_ID</key>
	<string>263632938863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.parkourlabs.dustTm</string>
	<key>PROJECT_ID</key>
	<string>dust-benchmark</string>
	<key>STORAGE_BUCKET</key>
	<string>dust-benchmark.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263632938863:ios:9ecb9e41666667dbb0aa9a</string>
</dict>
</plist>